.post--full-size
  %h2
    = post.title
    %small
      = post.friendly_date
  = link_to "edit", edit_post_path(post), class: 'post__button--edit'
  = link_to "delete", post_path(post), method: :delete, class: 'post__button--destroy'
  = link_to "comment", new_post_comment_path(post), class: 'post__button--comment'

  .post__body
    = post.body
  .post__tags-list.tagsinput
    - post.tags_array.each do |tag|
      = content_tag :span, tag, class: 'tag'

%h2
  Comments

.post__comments.media-list
  - comments.each do |comment|
    .media
      .pull-left
        .voting-area.media-object
          = link_to "^", vote_up_post_comment_path(post, comment), method: :post, class: 'vote-up'
          .score= comment.score
          = link_to "v", vote_down_post_comment_path(post, comment), method: :post, class: 'vote-down'
      .media-body
        %h4.media-heading= comment.user.name
        = comment.body
